.special {
  width: 100%;

  .banner-image {
    position: relative;
    display: block;
    top: -60px;
    width: 100%;
    height: 60vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.care-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5rem;
  @media (max-width: $layout-breakpoint-small) {
    padding: 0 1rem;
  }

  .care-data {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @media (max-width: $layout-breakpoint-small) {
      padding-bottom: 5rem;
    }

    p {
      font-size: 24px;
      font-weight: 300;

      &.care-bold {
        font-size: 20px;
        font-weight: 700;
      }
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
    }

    .care-list {
      ul {
        columns: 2;
        li {
          list-style: inside;
          font-size: 20px;
          margin-bottom: 1rem;
        }
      }
    }

    .care-cards {
      width: 100%;
      height: 500px;
      display: flex;
      gap: 2rem;
      flex-direction: row;
      .care-card {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        .card-img {
          flex: 2;
          width: 100%;
          background-image: url('../../../../public/images/house.jpg');
          background-position: center;
          background-size: cover;
        }

        .card-data {
          flex: 1;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .effect-three > a {
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 0;
              bottom: 0;
              height: 2px;
              margin: -5px 0;
              left: 0;
              background-color: $black;
              transition: all 0.4s ease-in 0s;
            }
            &:hover:after {
              width: 100%;
            }
          }
        }
      }
    }

    .back-link {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      h3 {
        font-size: 32px;
        font-weight: 700;
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      .arrow {
        background-color: $green;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 1rem;
        svg {
          fill: $background;
          transform: rotate(45deg);
        }
      }
    }
  }
}
