.container {
  .about__section-heritage {
    padding: 10rem 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      text-align: center;
      font-size: 48px;
      font-weight: 400;
    }
  }
}
