.about-banner {
  gap: 5rem;
  @media (max-width: $layout-breakpoint-medium) {
    gap: 2rem;
  }

  .about-row {
    overflow: visible;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .right-about {
    gap: 6rem;
    justify-content: center;
    position: relative;
  }
}
