.not__found-container {
  overflow: hidden;
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h1 {
    font-size: 42px;
  }
  a {
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;
  }
}
